<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/head', {title:"Receptionist"}); %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
 
    </header>

    <div class="d-flex pt-5 pb-3 justify-content-center">
        <form class="form-inline" action="/receptionist/initiate" method="post">
            <div class="form-group mx-3 mb-2">
                <input type="text" 
                class= "form-control" style=" border: solid; color: darkgreen;"
                name = "NIC" id="inputNIC" placeholder="Customer NIC">
            </div>
            <button type="submit" class="btn btn-success mb-2">SEARCH CUSTOMER</button>
          </form>
    </div>

    <% if(data.dataFound){ %>
        <div class="container px-5 text-center cent">
            <div class="card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12 ">
                <h5 class="card-header">Customer Details</h5>
        
                <div class="card-body">
                    <div class="form-group row">
                        <label for="card_userid" class="col-sm-4 col-form-label text-left">User ID :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_userid" value= "<%= data.customer.user_id %>" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_nic" class="col-sm-4 col-form-label text-left">NIC :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_nic" value= "<%= data.customer.NIC %>" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_name" class="col-sm-4 col-form-label text-left">Name :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_name" value= "<%= `${data.customer.first_name}  ${data.customer.last_name}` %>"  disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="card_email" class="col-sm-4 col-form-label text-left">Email :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_email" value= "<%= data.customer.email %>"  disabled>
                        </div>
                    </div>
                    
                </div>
            </div>
        
            <div class="card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12">
                <h5 class="card-header">Vehicle Details</h5>
        
                <div class="card-body">
                    
                    <div class="table-responsive">
                        <table class="table table-active table-sm table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Registration No:</th>
                                <th>Engine No:</th>
                                <th>Model No:</th>
                                <th>Model:</th>
                            </tr>
                        </thead>
                        <tbody id="vehicledetail">
                        <% for(var x of vehicle){ %>
                            <tr>
                                <td><%= x.registration_number %></td>
                                <td><%= x.engine_number %></td>
                                <td><%= x.model_number %></td>
                                <td><%= x.model %></td>
                            </tr>
                        <% } %> 
                        </tbody>
                        </table>
                    </div>

                    <div class="container pt-4" style="text-align: -webkit-center;">
                        <h5>Add New Vehicle</h5>
                        <div class="input-group mb-3 pt-2">
                          <input id="user" type="number" class="form-control" placeholder="User ID" value="<%= data.customer.user_id %>" disabled>
                          <input id="regno" type="text" class="form-control" placeholder="Registration No">
                          <input id="engineno" type="text" class="form-control" placeholder="Engine No">
                          <input id="modelno" type="text" class="form-control" placeholder="Model No">
                          <input id="model" type="text" class="form-control" placeholder="Model">
                          <div class="input-group-append">
                            <button class="btn btn-dark" type="submit" id="add">ADD</button>  
                           </div>
                        </div>
                </div>
            </div>      
        </div>

        <div class="card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12 ">
            <h5 class="card-header">Service Order</h5>
    
            <div class="card-body">
                <div class="form-group row">
                    <label for="form_userid" class="col-sm-4 col-form-label text-left">User ID :</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control detailInput" id="form_userid" value= "<%= data.customer.user_id %>"  disabled>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form_vehicle" class="col-sm-4 col-form-label text-left">Vehicle :</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="selectvehicle">
                        <% for(var y of vehicle){ %>
                          <option><%= y.registration_number %></option>
                        <% } %> 
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form_pay" class="col-sm-4 col-form-label text-left">Pay Amount :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control detailInput" id="form_pay">
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block" id="startso">Initiate Service Order</button>
            </div>
        </div>
    <% } %>
    <% if(data.error.status){ %>
        <div class="d-flex justify-content-center"><p class="text-danger"><strong><%= data.error.message %></strong></p></div>
    <% } %>
    
</div>      
    <script type="text/javascript" src="/js/so_initiate.js" ></script>
  

</body>
<footer class="mt-auto">
    <%- include('../partials/footers/staff_footer'); %>
</footer>
</html>