<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/head', {title:"Receptionist"}); %>
</head>

<body>
    <div class="d-flex pt-5 pb-3 justify-content-center">
        <form class="form-inline" action="/receptionist/sorder/search" method="post">
            <div class="form-group mx-3 mb-2">
                <input type="text" 
                class= "form-control"
                name = "service_order_id" id="inputSO" placeholder="Service Order ID">
            </div>
            <button type="submit" class="btn btn-info mb-2">SEARCH SERVICE ORDER</button>
          </form>
    </div>

    <% if(data.dataFound){ %>
        <div class="container px-5 text-center cent">
            <div class="card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12 ">
                <h5 class="card-header">Service Order <%= data.serviceorder.service_order_id%>  </h5>
        
                <div class="card-body">
                    <div class="form-group row">
                        <label for="card_vehicle" class="col-sm-4 col-form-label text-left">Vehicle Number :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_vehicle" value= "<%= data.customer.vehicle_number %>" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_start" class="col-sm-4 col-form-label text-left">Start Date :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_start" value= "<%= (new Date(data.customer.start_date)).toLocaleString() %>" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_end" class="col-sm-4 col-form-label text-left">End Date :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_end" value= "<%= data.serviceorder.end_date==null?null:(new Date(data.serviceorder.end_date)).toLocaleString() %>"   disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_status" class="col-sm-4 col-form-label text-left">Status :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_status" value= "<%= data.customer.status %>"  disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_invoice" class="col-sm-4 col-form-label text-left">Invoice ID :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_invoice" value= "<%= data.serviceorder.invoice_id %>"  disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_pay" class="col-sm-4 col-form-label text-left">Pay Amount :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_pay" value= "<%= data.serviceorder.payment_amount %>"  disabled>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12 ">
                <h5 class="card-header">Customer Details</h5>
        
                <div class="card-body">
                    <div class="form-group row">
                        <label for="card_userid" class="col-sm-4 col-form-label text-left">User ID :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_userid" value= "<%= data.serviceorder.user_id %>" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_nic" class="col-sm-4 col-form-label text-left">NIC :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_nic" value= "<%= data.customer.NIC %>" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_name" class="col-sm-4 col-form-label text-left">Name :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_name" value= "<%= `${data.customer.first_name}  ${data.customer.last_name}` %>"  disabled>
                        </div>
                    </div>
                </div>
            </div>

        </div>   
    <% } %>
    <% if(data.error.status){ %>
        <div class="d-flex justify-content-center"><p class="text-danger"><%= data.error.message %></p></div>
    <% } %>
</body>
</html>