
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <%- include('../partials/heads/head'); %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css" media="screen" title = "no title" charset = "utf-8">
    <!-- <link rel="stylesheet" href="../../node_modules/bootstrap/dist/bootstrap.min.css" integrity="sha" media="screen" title = "no title" charset = "utf-8"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="public/css/custom.css" media="screen" title = "no title" charset = "utf-8">

    <link rel="stylesheet" type="text/css" href="/datetimepicker/jquery.datetimepicker.css" >
    <script src="/datetimepicker/jquery.js"></script>
    <script src="/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>




    <link rel="stylesheet" href="/css/custom.css" media="screen" title = "no title" charset = "utf-8">

</head>
<body class="d-flex flex-column min-vh-100">
<header>
    <%- include('../partials/navs/nav'); %>
</header>
<% if(true){ %>
    <div class="card shadow p-3 mb-5 bg-white rounded col-md-8 col-sm-10 offset-2">
        <h5 class="card-header" style="text-align: center;">New Ticket</h5>
        <form action="/ticket/create" method="POST" autocomplete="off">
            <div class="card-body">

                <div class="form-group row">
                    <label for="card_invoice" class="col-sm-4 col-form-label text-left">Status :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control detailInput" id="status" name="status" value= "Open" required readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="card_invoice" class="col-sm-4 col-form-label text-left">Branch :</label>
                    <div class="col-sm-8">
                        <select type="text" class="form-control detailInput" id="branch_id"  name="branch_id" required>
                            <% branch.forEach(function(each) {%>
                                <option value=<%=each.branch_id%> > <%=each.branch_name%> </option>
                                <%} );%>

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="card_invoice" class="col-sm-4 col-form-label text-left">Start Date :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control detailInput" id="start_date"  name="start_date" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="card_invoice" class="col-sm-4 col-form-label text-left">Start Time :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control detailInput" id="start_time"  name="start_time" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-5 ">

                        <button type="submit" class="btn mt-5 btn-grad btn-grad-create " >Create Ticket</button>
                    </div>
                </div>


            </div>
        </form>
    </div>
    </div>
    <script>

        jQuery('#start_date').datetimepicker({
            onGenerate:function( ct ){
                jQuery(this).find('.xdsoft_date.xdsoft_weekend')
                    .addClass('xdsoft_disabled');

            },
            format:'Y-m-d',
            minDate: 0,
            inline: false,
            timepicker:false,
        });


        jQuery('#start_time').datetimepicker({
            inline: false,
            datepicker:false,
            format:'H:i',
            allowTimes:['9:00','9:30','10:00','10:30', '11:00', '11:30', '12:00', '14:00', '14:30', '15:00', '15:30', '16:00' , '16:30']
        });


        function ajaxCall(method, url, async, callback) {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    callback(this.responseText);
                }
            };
            xhttp.open(method, url, async);
            xhttp.send();
        }


        document.getElementById("start_date").addEventListener("change", loadTime());
        document.getElementById("branch_id").addEventListener("change", loadTime());
        function loadTime() {
            let branch_id = document.getElementById("branch_id").value;
            console.log("work3",branch_id);
            let date = document.getElementById("start_date").value;
            console.log("work",date);
            if (date){
                console.log("else working");
                let result = ajaxCall(
                    "GET",
                    `/ticket/getAvailableTime?branch_id=${branch_id}&date=${date}`,
                    true
                );

            }
            else {
                console.log("if work");

            }
        }
        document.getElementById("start_date").addEventListener("change", loadTime());



        /*$("#start_date,#branch_id").onchange(function(){
            branch = $("#branch_id").val()
            start_date = $("#start_date").val()
            $.ajax({url: `/ticket/gettimeslot?branch_id=${branch}&start_date=${start_date}`, success: function(result){
                    var timeslots = ['9:00', '10:00', '11:00', '12:00', '14:00', '15:00', '16:00' ]



                }});

        });*/

    </script>
<% } %>





<footer class="mt-auto">
    <%- include('../partials/footers/custmoer_footer'); %>
</footer>



</body>
</html>