<!DOCTYPE html>
<html lang="en">
<head>
     
    <%- include('../partials/heads/head', {title : "Employee Registration"}); %> 
    <link rel="stylesheet" href="/css/custom.css" media="screen" title = "no title" charset = "utf-8">

    <title>ADD EMPLOYEE || ADMIN</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <%- include('../partials/navs/nav' , {usertype: "admin",
        activepage: "Add Employee"}); %>
    </header>
    <div class="container">
    <div class="row flex-lg-nowrap">
    <div class="col-12 col-md-3 mb-3" style="width: 200px;">

    </div>

    <div class="col">
        <div class="row">
        <div class="col mb-3 md-3">
            <div class="card shadowBox">
            <div class="card-body">
                <div class="e-profile">
                <div class="tab-content pt-3 ">
                    <div class="tab-pane active">
                    <form class="form" action="/admin/addStaff" method="POST" novalidate="">
                        <h2>ADD EMPLOYEE</h2>
                        <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>EMPLOYEE ID</label>
                                    <input class="form-control" type="text" name="employee_id" id="employee_id" onkeyup='check();' placeholder="Employee ID" required >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control <%= typeof error !== 'undefined' ? (typeof error['first_name'] !== 'undefined' ? `is-invalid` : "is-valid") : "" %>" type="text" name="first_name" id="first_name" onkeyup='check();' required>
                                    <div class=<%= typeof error !== 'undefined' ? (typeof error['first_name'] !== 'undefined' ? 'invalid-feedback': "") : "" %>><%= typeof error !== 'undefined' ? (typeof error['first_name'] !== 'undefined' ? error['first_name'] : "") : "" %></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control <%= typeof error !== 'undefined' ? (typeof error['last_name'] !== 'undefined' ? `is-invalid` : "is-valid") : "" %>" type="text" name="last_name" id="last_name" onkeyup='check();' required>
                                    <div class=<%= typeof error !== 'undefined' ? (typeof error['last_name'] !== 'undefined' ? 'invalid-feedback': "") : "" %>><%= typeof error !== 'undefined' ? (typeof error['last_name'] !== 'undefined' ? error['last_name'] : "") : "" %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>Email</label>
                                   
                                    <input class="form-control <%= typeof error !== 'undefined' ? (typeof error['email'] !== 'undefined' ? `is-invalid` : "is-valid") : "" %>" type="text" name="email" id="email" onkeyup='check();' required>
                                    <div class=<%= typeof error !== 'undefined' ? (typeof error['email'] !== 'undefined' ? 'invalid-feedback': "") : "" %>><%= typeof error !== 'undefined' ? (typeof error['email'] !== 'undefined' ? error['email'] : "") : "" %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>NIC</label>
                                    
                                    <input class="form-control <%= typeof error !== 'undefined' ? (typeof error['NIC'] !== 'undefined' ? `is-invalid` : "is-valid") : "" %>" type="text" name="NIC" id="NIC" onkeyup='check();' required>
                                    <div class=<%= typeof error !== 'undefined' ? (typeof error['NIC'] !== 'undefined' ? 'invalid-feedback': "") : "" %>><%= typeof error !== 'undefined' ? (typeof error['NIC'] !== 'undefined' ? error['NIC'] : "") : "" %></div>
                                </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                    <label>Contact Number</label>
                                    <input class="form-control <%= typeof error !== 'undefined' ? (typeof error['contact_no'] !== 'undefined' ? `is-invalid` : "is-valid") : "" %>" type="text" name="contact_no" id="contact_no" onkeyup='check();'  required>
                                    <div class=<%= typeof error !== 'undefined' ? (typeof error['contact_no'] !== 'undefined' ? 'invalid-feedback': "") : "" %>><%= typeof error !== 'undefined' ? (typeof error['contact_no'] !== 'undefined' ? error['contact_no'] : "") : "" %></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>Role</label>
                                    
                                    <select type="text" class="form-control inputD" id="user_type"  name="user_type" onkeyup='check();' placeholder="Role" required>
                                        <option value="cashier" > Cashier</option>
                                        <option value="receptionist" > Receptionist</option>
                                        <option value="reportissuer" > Report Issuer</option>
                                            
            
                                    </select>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>Branch Name</label>
                                    
                                    <select type="text" class="form-control inputD" id="branch_id"  name="branch_id" onkeyup='check();' placeholder="Branch ID"  required>
                                        <% data.branch.forEach(function(each) {%>
                                            <option value=<%=each.branch_id%> > <%=each.branch_name%> </option>
                                            <%} );%>
            
                                    </select>
                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control <%= typeof error !== 'undefined' ? (typeof error['password'] !== 'undefined' ? `is-invalid` : "is-valid") : "" %>" name="password" id="password" type="password" onkeyup='check();' required >
                                    <div class=<%= typeof error !== 'undefined' ? (typeof error['password'] !== 'undefined' ? 'invalid-feedback': "") : "" %>><%= typeof error !== 'undefined' ? (typeof error['password'] !== 'undefined' ? error['password'] : "") : "" %></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button class="btn mt-1 btn-primary" id="save" type="submit" disabled>ADD EMPLOYEE</button>
                            </div>
                    </form>
                    </div>
                </div></div></div></div></div></div></div></div></div></div></div></div>

        <div class="col-12 col-md-3 mb-3">

        </div>

        </div></div>

    </div>
    <br><br><br><br><br>

   <footer class="mt-auto">
        <%- include('../partials/footers/staff_footer'); %>
    </footer>
</body>
<script>

    var check = function() {
        
  if(document.getElementById('first_name').value=="" || document.getElementById('last_name').value=="" || document.getElementById('email').value=="" || document.getElementById('contact_no').value=="" || document.getElementById('employee_id').value=="" || document.getElementById('NIC').value=="" || document.getElementById('user_type').value=="" || document.getElementById('branch_id').value=="" || document.getElementById('password').value==""){
      document.getElementById('save').disabled=false;
  }
  else{
      document.getElementById('save').disabled=false;
  }
}
function onlyNumberKey(evt) { 
          
          // Only ASCII charactar in that range allowed 
          var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
          if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
              return false; 
          return true; 
      } 
</script>
</html>