<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/head', {title:"Cashier"}); %>
</head>

<body>
    
    <div class="row">
        <div class="col-sm-1 col-md-2">

        </div>
        <div class="col-md-8 col-md-offset-3 text-center center">
            <div class="container py-4 text-center" id ="invoice_search">
                <form class="form-inline text-center" action="/cashier/" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputInvoice" class="sr-only">Enter Invoice Number</label>
                        <input type="text" 
                        class= "form-control <%= typeof data.error !== 'undefined' ? `inputField is-invalid bg-red` : `form-control inputField` %> "
                        name = "invoice_id" id="inputInvoice" placeholder="Enter Invoice Number"
                        value = <%= typeof data.value !== 'undefined' ? data.value.invoice_id : "" %>>
                        
                    </div>

                    <button type="submit" class="btn btn-grad mb-2 btn-grad-confirm ">Search</button>
                    <div class="<%= typeof data.error !== 'undefined' ? `px-1` : "" %>"><%= typeof data.error !== 'undefined' ? data.error.message : "" %></div>
                </form>
            </div>
        </div>
        <div class="col-sm-1 col-md-2">
            
        </div>
    </div>
   

    <% if(data.dataFound){ %>
        <div class="container px-5 text-center cent">
            <div class="card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12 ">
                <h5 class="card-header">Invoice</h5>
        
                <div class="card-body">
                    <div class="form-group row">
                        <label for="card_invoice" class="col-sm-4 col-form-label text-left">Invoice Number :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_invoice" value= "<%= data.invoice_id %> disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_nic" class="col-sm-4 col-form-label text-left">NIC :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_nic" value= "<%= data.NIC %>"" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_pay" class="col-sm-4 col-form-label text-left">Payment Amount :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_pay" value= "<%= data.payment_amount %>"" disabled>
                        </div>
                    </div>
                    
                </div>
            </div>
        
            <div class="card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12">
                <h5 class="card-header">Service Order</h5>
        
                <div class="card-body">
                    <div class="form-group row">
                        <label for="card_invoice" class="col-sm-4 col-form-label text-left">Service Order ID :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="service_order" value="<%= data.service_order_id %>" disabled>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="card_invoice" class="col-sm-4 col-form-label text-left">NIC :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="nic" value= "<%= data.NIC %>"" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_invoice" class="col-sm-4 col-form-label text-left">First Name :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="first_name" value= "<%= data.first_name %>"" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_invoice" class="col-sm-4 col-form-label text-left">Last name :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="last_name" value= "<%= data.last_name %> disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card_invoice" class="col-sm-4 col-form-label text-left">Status :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="status" value= "<%= data.status %>"" disabled>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-8">
                            <button type="submit" class="btn mt-5 btn-grad btn-grad-confirm "
                            id = "payBtn"
                            <%= data.status == 'Paid' ? `disabled` : "" %>
                            >Confirm Payment</button>
                        </div>
                        <div class="col-md-4 text-right">
                            <button type="submit" class="btn my-5 btn-grad btn-grad-delete "
                            id = "closeBtn"
                            <%= data.status == 'Closed' ? `disabled` : "" %>
                            >Close</button>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    <% } %>

        <script type="text/javascript" src="/js/payment.js"></script>
    

</body>
</html>