<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/heads/head',{title: 'cashier invoice' }); %>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/custom.css" media="screen" title="no title" charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <%- include('../partials/navs/nav' ,{usertype: "cashier",
        activepage: "Invoice Payment",
        title: "cashier invoice",}); %>
    </header>

    <div class="row">
        <div class="col-sm-1 col-md-2">

        </div>
        <div class="col-md-8 col-md-offset-3 text-center center">
            <div class="container py-4 text-center" id="invoice_search">
                <form class="text-center"  method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class=" form-group mx-sm-3 mb-2">
                                <label for="inputInvoice" class="sr-only bg-red">Enter Invoice Number</label>
                                <input type="text"
                                    class="form-control <%= typeof data.error.invoice_id !== 'undefined' ? `inputField is-invalid` : ` inputField` %> "
                                    name="invoice_id" id="inputInvoice" placeholder="Enter Invoice Number" value="<%=typeof data.value.invoice_id !=='undefined' ? data.value.invoice_id : "" %>">
                                <div
                                class="<%= typeof data.error.invoice_id !== `undefined` ? `invalid-feedback` : `` %>">
                                <%= typeof data.error.invoice_id !=='undefined' ? data.error.invoice_id : "" %>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-grad mt-1 mx-2 btn-grad-create " formaction="/cashier/invoice">Search Invoice</button>
                                </div>
                                
                            </div>
        
                        </div>
                        <div class="col-sm-6">
                            <div class=" form-group mx-sm-3 mb-2">
                                <label for="inputInvoice" class="sr-only bg-red">Enter Service Order Id Number</label>
                                <input type="text"
                                    class="form-control <%= typeof data.error.service_order_id !== 'undefined' ? `inputField is-invalid` : ` inputField` %> "
                                    name="service_order_id" id="inputInvoice" placeholder="Enter Service Order Id Number" value="<%=typeof data.value.service_order_id !=='undefined' ? data.value.service_order_id : "" %>">
                                <div
                                class="<%= typeof data.error.service_order_id !== `undefined` ? `invalid-feedback` : `` %>">
                                <%= typeof data.error.service_order_id !=='undefined' ? data.error.service_order_id : "" %>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-grad mt-1 mx-2 btn-grad-create " formaction="/cashier/searchInvoiceBySO">Search Invoice By Service Order</button>
                                </div>
                                
                            </div>
        
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-sm-1 col-md-2">

        </div>
    </div>


    <% if(data.dataFound){ %>
        <div class="container px-5 text-center cent">
            <div class="card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12 ">
                <h5 class="card-header">Invoice</h5>

                <div class="card-body">
                    <div class="form-group row">
                        <label for="card_invoice" class="col-sm-4 col-form-label text-left">Invoice Number :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control detailInput" id="card_invoice" value="<%= data.invoice_id %>" disabled>
                        </div>
                    </div>
                    <div class=" form-group row">
                            <label for="card_nic" class="col-sm-4 col-form-label text-left">NIC :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control detailInput" id="card_nic"
                                    value="<%= data.NIC %>"" disabled>
                        </div>
                    </div>
                    <div class=" form-group row">
                                <label for="card_pay" class="col-sm-4 col-form-label text-left">Payment Amount :</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control detailInput" id="card_pay"
                                        value="<%= data.payment_amount %>"" disabled>
                        </div>
                    </div>
                    
                </div>
            </div>
        
            <div class=" card shadow p-3 mb-5 bg-white rounded col-md-12 col-sm-12">
                                    <h5 class="card-header">Service Order</h5>

                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="card_invoice" class="col-sm-4 col-form-label text-left">Service
                                                Order ID :</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control detailInput" id="service_order"
                                                    value="<%= data.service_order_id %>" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="card_invoice" class="col-sm-4 col-form-label text-left">NIC
                                                :</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control detailInput" id="nic"
                                                    value="<%= data.NIC %>"" disabled>
                        </div>
                    </div>
                    <div class=" form-group row">
                                                <label for="card_invoice"
                                                    class="col-sm-4 col-form-label text-left">First Name :</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control detailInput" id="first_name"
                                                        value="<%= data.first_name %>"" disabled>
                        </div>
                    </div>
                    <div class=" form-group row">
                                                    <label for="card_invoice"
                                                        class="col-sm-4 col-form-label text-left">Last name :</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control detailInput"
                                                            id="last_name" value="<%= data.last_name %>" disabled>
                        </div>
                    </div>
                    <div class=" form-group row">
                                                        <label for="card_invoice"
                                                            class="col-sm-4 col-form-label text-left">Status :</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control detailInput"
                                                                id="status" value="<%= data.status %>"" disabled>
                        </div>
                    </div>
                    
                    <div class=" row">
                                                            <div class="col-md-8">
                                                                <button type="submit"
                                                                    class="btn mt-5 btn-grad btn-grad-create "
                                                                    id="payBtn" <%=data.status !='Open' ? `disabled`
                                                                    : "" %>
                                                                    >Confirm Payment</button>
                                                            </div>
                                                            <div class="col-md-4 text-right">
                                                                <button type="submit"
                                                                    class="btn my-5 btn-grad btn-grad-delete "
                                                                    id="closeBtn" <%=data.status !='Open' ? `disabled`
                                                                    : "" %>
                                                                    >Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <% } %>

                                                <footer class="mt-auto">
                                                    <%- include('../partials/footers/staff_footer'); %>
                                                </footer>


                                                <script type="text/javascript" src="/js/payment.js"></script>



</body>

</html>